<div class="row">
    <div class="footer">
        <p>Made by Max Piroddi. Get in touch via maxPiroddi.github.com</p>
        <p>All rights reserved Max Piroddi, 2019</p>
        <p>Built with Ruby on Rails, styled with Bootstrap.</p>
    </div>
</div>