<div class="footer">
    <div class="col-md-12">
        <p>Made by Max @ <a href="maxPiroddi.github.com" target="_blank">GitHub</a></p>
        <p>Built with Ruby on Rails, styled with Bootstrap.</p>
    </div>
</div>