<%= render("shared/topnav")%>

<div class="container">
    <div class="jumbotron">
        <h2 class="display-4">Let's find something great!</h2>
        <form action="<%= products_path %>" method="GET">
            <input class="form-control" id="hero-search" type="text" placeholder="Search the Marketplace..." aria-label="Search">
            <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <p class="random-product"><%= link_to("Maybe try '#{@random_product.name}'", product_path(@random_product)) %></p>
    </div>
    <div class="category-box">
        <h2 class="display-4">Shop by Category</h2>
    </div>

    <div class="row category-row">
        <!-- Render category partial -->
        <%= render("categories") %>
    </div>

</div>