<%= render("shared/topnav") %>
<div class="container">
    <div class="col-md-8 col-md-offset-2 form-bg">
        <h1>New Product</h1>
        <p><b>*</b> Indicates required field</p>

        <%= render 'form', product: @product %>
    </div>
</div>